*{
    text-align: center;
}
.imgContainer {
    width: 800px;
    height: 550px;
    margin: 0 auto;
}

.imgContainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button {
    background-color: yellow;
    padding: 10px;
    margin-bottom: 10px;
}