form {
    background-color: azure;
    max-width: 25%;
    margin: 15% auto;
    text-align: center;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

input {
    padding: 5px;
    margin: 3px 0;
    /* outline: none; */
    border-radius: 5px;
    border: solid 2px rgb(164, 126, 199);
}

input:focus {
    outline: none;
    background-color: lavender;
}

button {
    margin-top: 10px;
    width: 45%;
}

button[type='submit']{
    align-self: flex-start;
}

button[type='reset']{
    align-self: flex-end;
}